// backgrounds
$primary: #3d0075;
$primary-yellow:#fcc132;
$light-purple: #ede7f1;
$light-blue: #ecf0f3;
$light-gray: #d6ceda;
$light-violet: #9900ff1c;
// $green:#7cf37bad;
$white: #fff;

// text
$original-text: rgba(0,0,0,.7);




